<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">

  <title>TKR Interview Bits</title>
</head>

<body class="w-full">

  <% if(nav){ %>
    <nav class="bg-yellow-200 w-full h-[60px]  z-50 fixed top-0">
      <div class="w-[95%] my-0 mx-auto h-full flex justify-between items-center w-[80%] md:w-[80%]">
        <a href="/"><div class="flex w-[95%] font-semibold text-md lg:text-xl lg:w-[30vw] items-center gap-1" id="logo">
          <img class="h-[45px]" src="/images/1000117438-removebg-preview.png" alt="">
          TKR Interview Bits
        </div></a>

        
        <div class="elems lg:w-[70vw]  flex justify-around items-center ">
          <div class="flex gap-2 items-center justify-center md:w-[30vw] sm:w-8 mr-5 sc">
            <i class="ri-search-line font-bold text-2xl cursor-pointer"></i>
            <input id="Searchinp" class="py-1 px-3 rounded-md lg:w-[30vw] md:w-[30vw] " placeholder="search..." type="text" name="searchProfiles" id="">
          </div>  
          <a href="/feed">
            <div class="hidden px-2 py-3 hover:bg-yellow-500 hover:text-white lg:block" id="elems">Feed</div>
          </a>
          <a href="/logout">
            <div class="hidden px-2 py-3 hover:bg-yellow-500 hover:text-white lg:block" id="elems">
              Logout
            </div>
          </a>
          <a href="/profile">
            <img src="/images/def.jpg" alt="" class="hidden h-[40px] rounded-full border-2 border-zinc-200 lg:block" />
          </a>
            <div class="relative block lg:hidden">
              <i class="block ri-menu-3-line block cursor-pointer lg:hidden" id="menu-icon"></i>
              <ul class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 hidden" id="dropdown-menu">
                <a href="/">
                  <li class="cursor-pointer px-4 py-2 hover:bg-gray-100">Home</li>
                </a>
                <a href="/feed">
                  <li class="cursor-pointer px-4 py-2 hover:bg-gray-100">Feed</li>
                </a>
                <a href="/profile">
                  <li class="cursor-pointer px-4 py-2 hover:bg-gray-100">Profile</li>
                </a>
                <a href="/logout">
                  <li class="cursor-pointer px-4 py-2 hover:bg-gray-100">Logout</li>
                </a>
              </ul>
            </div>
        </div>
      </div>
    </nav>

    <% } %>