<%- include('./partials/header') %>

    <main class="relative top-0 max-w-[2000px] mx-auto my-0">
        <div id="logostart" class="w-full h-screen bg-[#24E400] fixed z-50 top-0 flex justify-center items-center">
            <img src="../images/1000117438-removebg-preview.png" alt="" class="w-[15vw]" />
        </div>
        <div id="page1" class="w-[85%] mx-auto my-0 h-screen relative">
            <nav id="nav" class="h-[12vh] flex justify-between items-center">
                <div class="text-white text-3xl"><span class="text-[#24E400]">TKR</span> Interview Bits</div>
                <div class="flex gap-5">
                    <button
                        class="px-4 rounded-md py-2 bg-[#24E400] text-white duration-200 hover:bg-[#26F500] ">Login</button>
                    <button
                        class="px-3 rounded-md py-2 bg-slate-100 text-[#24E400] duration-200  hover:bg-white">Register</button>
                </div>
            </nav>
            <div id="contentp1" class=" w-full h-[82vh] md:flex gap-4  items-center ">
                <div id="leftp1" class="lg:w-[50%] md:w-[50%] w-[100%] h-[70vh] p-5 flex flex-col gap-3 justify-start items-start">
                    <h1 class="text-[5vw] text-[#24E400]">Lorem ipsum</h1>
                    <h2 class="text-4xl text-slate-200">Lorem ipsum dolor sit amet chiko</h2>
                    <p class="text-2xl text-white mt-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam autem inventore natus quos hic reprehenderit? Soluta sed sapiente optio enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quo?</p>
                </div>
                <div id="rightp1" class="lg:w-[50%] md:w-[50%] w-[100%] h-[70vh]  flex justify-center items-center">
                    <img src="/images/hero.png" alt="" class="rounded-[50%] w-[80%] shadow-blend-border drop-shadow-2xl">
                </div>
            </div>
            <div class="h-[1px] w-full bg-white absolute bottom-0">
            </div>
        </div>
        <div id="page2" class="w-[85%] mx-auto my-0 h-screen relative">
            <div class="h-[1px] w-full bg-white absolute bottom-0"></div>
        </div>
        <div id="page3" class="w-[85%] mx-auto my-0 h-screen relative">
            <div class="h-[1px] w-full bg-white absolute bottom-0"></div>
        </div>
    </main>


    <%- include('./partials/footer') %>