<%- include('./partials/header') %>
<div class="w-screen h-screen bg-slate-800 absolute top-0">
    <div class="w-[90vw] bg-zinc-100 py-10 absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] rounded-2xl md:w-[45vw] lg:w-[27vw]">
        <form class="w-full h-full flex justify-center items-center flex-col gap-5" action="/login" method="post">
            <div class="logo w-[20%] flex justify-center items-center overflow-hidden">
                <img class="object-cover" src="/images/IMG_20240413_143707-removebg.png" alt="">
            </div>
            <h1 class="font-semibold text-3xl">Login</h1>
            <input class="w-[75%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-lime-500" type="text" name="username" placeholder="Username">
            <input class="w-[75%] py-1 px-2 rounded-md focus:outline-none focus:ring focus:ring-lime-500" type="password" name="password" placeholder="Password">
            <% if(err && err.length>0){ %>
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline"><%= err %></span>
                  </div>                  
            <% } %>
            <p>Didn't have account? <a href="/signup" class="text-lime-500">Register</a></p>
            <input class="mt-5 hover:bg-white bg-lime-500 text-white duration-200 hover:text-lime-500 shadow-xl px-4 py-2 rounded-xl cursor-pointer" type="submit" value="Login">
        </form>
    </div>
</div>

<%- include('./partials/footer') %>
